// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.snake {
  width: 600px;
  margin: 0 auto;
}

#new {
  text-align: center;
}

.box{
  position: absolute;
  width: 600px;
}
